@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: var(--color-white);
}

:root {
    --color-bg: #001429;
    --color-bg-primary: #001d3d;
    --color-primary: #003566;
    --color-light: #6290C8;
    --color-white: #F7F0F0;
    --container-lg: 75%;
    --container-md: 86%;
    --container-sm: 90%;

    --transition: all 400ms ease;
    /* decide best transition for me*/
}

body {
    font-family: 'Poppins', sans-serif !important;
    background: linear-gradient(to bottom, rgba(0, 29, 61) 0%, rgba(0, 8, 20) 85%, #000000 100%) !important;
}


html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

/*================ GENERAL ================*/

h1,
h2,
h3,
h4 {
    font-weight: 500;
    /*300-600*/
}

h5 {
    font-weight: 300 !important;
}

h1 {
    font-size: 3rem;
    /*2-3 rem*/
}

.home {
    font-size: 5rem;
}

.home-small {
    font-size: 2rem;
}

section.h2,
section.h5 {
    text-align: center;
    color: var(--color-white);
}

section.h2 {
    color: var(--color-primary);
    margin-bottom: 3rem;
    /*2-4 rem*/
}

.text-light {
    color: var(--color-light);
}

a {
    color: var(--color-light) !important;
    transition: var(--transition);
}

a:hover {
    color: var(--color-white) !important;
    transition: var(--transition);
}

svg {
    fill: var(--color-light);
}

svg:hover {
    fill: var(--color-white);
}

#register {
    width: 50% !important;
}

.btn {
    margin-top: 20px;
    width: max-content;
    display: inline-block;
    background-color: var(--color-bg-primary) !important;
    color: var(--color-light) !important;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-light) !important;
    transition: var(--transition);
}


.btn:hover {
    background-color: var(--color-light) !important;
    color: var(--color-bg) !important;
    transition: var(--transition);
}

.container {
    width: var(--container-lg);
    margin: 0 auto;
}

.scroll-page {
    overflow-y: scroll; /* Enable vertical scrolling */
    height: 100vh; /* Set the height of the scrollable page */
  }
/*================ HOMEPAGE ================*/

header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header_container {
    height: 100%;
    position: relative;
}

.header_socials {
    display: flex;
    gap: 0.8rem;
    flex-direction: column;
    align-items: center;
    right: 0;
    bottom: 3rem;
    position: absolute;
}

.header_socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-light);
}

.scroll__down {
    position: absolute;
    left: -2.3rem;
    bottom: 5rem;
    transform: rotate(270deg);
    font-weight: 400;
    font-size: 0.9rem;
}

/*================ NAVBAR ================*/

nav {
    background-color: var(--color-primary);
    width: max-content;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 1rem;
    border-radius: 3rem;
}

nav a {
    background-color: var(--color-primary) !important;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-white) !important;
    font-size: 1.1rem;
}

.active {
    /* background: var(--color-white)!important; */
    /* color: var(--color-white)!important; */
    fill: var(--color-white) !important;
    transition: var(--transition);
}

/*================ CONTACT PAGE ==================*/

.email:hover {
    background-color: var(--color-light) !important;
    color: var(--color-bg) !important;
    fill: var(--color-bg) !important;
    transition: var(--transition);
}

svg.email:hover {
    fill: var(--color-bg)!important;
}

p.contactbtns {
    color: var(--color-light)!important;
    font-size: medium;
}

/*================ ABOUT ================*/

.about {
    font-weight: 300 !important;
}

/*================ PORTFOLIO ================*/

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
    align-items: center;
}

.portfolio-container.a > svg {
    fill: var(--color-white)!important;
    color: var(--color-white)!important;
}

.portfolio-items {
    text-align: center;
    padding: 1.3rem;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    transition: var(--transition);
    width: 70%;
}

.portfolio-items > h3 {
    font-weight: 400;
    font-size: large;
}

.portfolio-items:hover {
    background-blend-mode: normal;
    transition: var(--transition);
    border: 2px solid var(--color-light)!important;
    color: var(--color-light)!important;
}

.doad {
    background-image: url(./assets/dateonadime.png);
    background-position: contain;
    background-repeat:round;
    background-size: cover;
    background-color: rgba(20, 53, 94, 0.596);
    background-blend-mode: overlay;
}

.streamverse {
    background-image: url(./assets/streamverse.png);
    background-position: contain;
    background-repeat:round;
    background-size: cover;
    background-color: #001d3d88;
    background-blend-mode: overlay;
}


.eventease {
    background-image: url(./assets/eventease.png);
    background-position: contain;
    background-repeat:round;
    background-size: cover;
    background-color: #001d3d88;
    background-blend-mode: overlay;
}

.weather {
    background-image: url(./assets/weather.png);
    background-position: contain;
    background-repeat:round;
    background-size: cover;
    background-color: #001d3d88;
    background-blend-mode: overlay;
}

.note {
    background-image: url(./assets/note.png);
    background-position: contain;
    background-repeat:round;
    background-size: cover;
    background-color: #001d3d88;
    background-blend-mode: overlay;
}

.pwa {
    background-image: url(./assets/jate.png);
    background-position: contain;
    background-repeat:round;
    background-size: cover;
    background-color: #001d3d88;
    background-blend-mode: overlay;
}

.social {
    background-image: url(./assets/social.png);
    background-position: contain;
    background-repeat:round;
    background-size: cover;
    background-color: #001d3d88;
    background-blend-mode: overlay;
}

svg.portfolio-icons {
    fill: var(--color-white)!important;
}

svg.portfolio-icons:hover {
    fill: var(--color-primary)!important;
}

/*================ RESUME ================*/

.checks {
    fill: none !important;
}

.resumeheadtxt {
    color: var(--color-light);
    font-weight: 400;
    font-size: larger;
    text-align: center;
    margin-bottom: 2rem;
}

.resumetxt {
    font-weight: 400;
    font-size: large;
}

.resumetxtsm {
    font-weight: 300;
    font-size: x-small;
    color: var(--color-light);
}

.skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.resume-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.frontend {
    color: var(--color-bg-primary) !important;
    background-color: var(--color-bg-primary);
    padding: 2.4rem 3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
}

.frontend:hover {
    background-color: var(--color-bg);
    border: 3px solid var(--color-bg-primary);
    transition: var(--transition);
}

.backend {
    background-color: var(--color-bg-primary);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
}

.backend:hover {
    background-color: var(--color-bg);
    border: 3px solid var(--color-bg-primary);
    transition: var(--transition);
}


/*================ MEDIUM DEVICE MEDIA QUERY ================*/

@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-md);
    }

    section {
        margin-top: 6rem;
    }

    header {
        height: 68vh;
    }

    .skills-container {
        grid-template-columns: 1fr;
    }

    .frontend,
    .backend {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .portfolio-container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/*================ SMALL DEVICE MEDIA QUERY ================*/

@media screen and (max-width: 600px) {
    .container {
        width: var(--container-sm);
    }

    section.h2 {
        margin-bottom: 2rem;
    }

    header {
        height: 100vh;
    }

    .header_socials,
    .scroll__down {
        display: none;
    }

    .skills-container {
        gap: 1rem;
    }

    .frontend,
    .backend {
        width: 100%;
        padding: 2rem 1rem;
    }

    .portfolio-container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}